.env
.venv
node_modules
dist
__pycache__
*.log
*.env
*.env.production
*.pyc
.venv
.uv-cache
.pytest_cache

app/lens/artifacts/
app/dash/.wrangler/
infra/mailserver/docker-data/dms/mail-data/
infra/mailserver/docker-data/dms/mail-state/
infra/mailserver/docker-data/dms/mail-logs/
infra/mailserver/docker-data/dms/config/postfix-accounts.cf
infra/mailserver/docker-data/dms/config/postfix-virtual.cf
infra/mailserver/docker-data/dms/config/*.db


*.tar.gz
*.sql
*.archive
*.md
!README.md

.ssh/